**/bin
**/obj
**/.vs
/Back-End/Movie_Streaming_App/.vs/Movie_Streaming_App/v17/.suo
/Back-End/Movie_Streaming_App/.vs/Movie_Streaming_App/v17/DocumentLayout.backup.json
/Back-End/Movie_Streaming_App/.vs/Movie_Streaming_App/v17/DocumentLayout.json
