<!-- The container -->
<div class="relative">
  <div class="relative">

    <!-- The image section -->
    <img
    src="images/Cima_Subscribe_header.jpg"
    alt="cima header image"
    class="w-full h-full md:h-screen object-cover"
    />
    <div class="absolute bottom-0 left-0 w-full h-32 bg-gradient-to-t from-body-charcoal to-transparent"></div>
  </div>


  <!-- The text section, positioned absolute on larger screens -->
  <div class=" md:absolute md:bottom-0 md:left-0 md:right-0 md:p-10 p-1.5">
    <!-- title  -->
    <h1 class="text-[1.2rem] md:text-3xl lg:text-5xl font-bold text-center text-white">
      Unlock more with your Cima subscription!
    </h1>
    <!-- subtitle -->
    <h3 class="text-[0.9rem] md:text-xl lg:text-2xl text-center font-semibold opacity-70 text-off-white my-2">
      Cima Originals, exclusive series, blockbuster premieres, and live TV <br>
      excitement – your ultimate entertainment hub and more.
    </h3>
  </div>
</div>

