<!-- dashboard.component.html -->


<!-- Main Content -->
<div>

  <div class="bg-surface-black rounded-xl shadow-sm mx-6 mt-6 mb-3 p-6 border-l-4 border-l-blurple">
    <div>
      <h3 class="text-lg text-off-white font-medium">Welcome Back</h3>
      <p class="text-4xl font-bold text-off-white">User Name</p>
  </div>
  </div>

    <!-- Stats Cards -->
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 space-x-6 px-6 py-3">
        <!-- Movies Card -->
        <div class="bg-surface-black rounded-xl shadow-sm p-6 flex items-center">
            <div class="w-14 h-14 rounded-full bg-purple flex items-center justify-center mr-4">
                <i class="fa fa-film text-xl text-off-white"></i>
            </div>
            <div>
                <h3 class="text-sm text-off-white font-medium">Movies</h3>
                <p class="text-2xl font-bold text-off-white">{{ totalMovies }}</p>
            </div>
        </div>

        <!-- Series Card -->
        <div class="bg-surface-black rounded-xl shadow-sm p-6 flex items-center">
            <div class="w-14 h-14 rounded-full bg-refresh-blue flex items-center justify-center mr-4">
                <i class="fa fa-tv text-xl text-off-white"></i>
            </div>
            <div>
                <h3 class="text-sm text-off-white font-medium">Series</h3>
                <p class="text-2xl font-bold text-off-white">{{ totalSeries }}</p>
            </div>
        </div>

        <!-- Total Media Card -->
        <div class="bg-surface-black rounded-xl shadow-sm p-6 flex items-center">
            <div class="w-14 h-14 rounded-full bg-vivid-cerulean flex items-center justify-center mr-4">
                <i class="fa fa-photo-film text-xl text-off-white"></i>
            </div>
            <div>
                <h3 class="text-sm text-off-white font-medium">Total Media</h3>
                <p class="text-2xl font-bold text-off-white">{{ totalMediaCount }}</p>
            </div>
        </div>

        <!-- Views Card -->
        <div class="bg-surface-black rounded-xl shadow-sm p-6 flex items-center">
            <div class="w-14 h-14 rounded-full bg-fuchsia flex items-center justify-center mr-4">
                <i class="fa fa-eye text-xl"></i>
            </div>
            <div>
                <h3 class="text-sm text-off-white font-medium">Total Views</h3>
                <p class="text-2xl font-bold text-off-white">{{ totalViews }}</p>
            </div>
        </div>
    </div>

    <div class="flex justify-between mx-6 mt-3 space-x-3">
        <div class="w-1/2 rounded-xl bg-surface-black p-3">
            <canvas baseChart [data]="barData" [type]="'bar'" [options]="barOptions"></canvas>
        </div>
        <div class="w-1/4 rounded-xl bg-surface-black p-3">
            <canvas baseChart [data]="radarData" [type]="'radar'" [options]="radarOptions"></canvas>
        </div>
        <div class="w-1/4 rounded-xl bg-surface-black p-3">
            <canvas baseChart [data]="doughnutData" [type]="'doughnut'" [options]="doughnutOptions"></canvas>
        </div>
    </div>
</div>
