<div class="w-screen h-screen pt-[150px] md:pt-0 flex justify-center items-center text-white">
    <div class="w-full md:w-100 flex flex-col md:bg-surface-black p-5 rounded-md">
        <div class="mb-5">
            <h1 class="text-light-blurple text-3xl text-center mb-3 font-medium">Sign Up</h1>
            <div>
                <img class="w-[100px] mx-auto" src="/branding/logo-detailed.svg" alt="" />
            </div>
        </div>
        <app-profile-data-form></app-profile-data-form>
    </div>
</div>