<div class="w-full bg-gradient-to-b from-body-charcoal to-background-black">
<div class="mx-12">
  <div class="flex space-x-10 text-lg border-b-2 border-body-charcoal/75 mb-4">
    @for(tab of tabs; track $index){
    <button (click)="selectTab($index)" class="py-2 font-medium transition-colors duration-400" [ngClass]="{
        'border-b-2 border-blurple text-blurple': selectedIndex === $index,
        'text-greyple hover:text-blurple': selectedIndex !== $index
      }">
      {{ tab.label }}
    </button>
    }
  </div>

  <div class="py-4 text-off-white rounded shadow">
    @if (tabs[selectedIndex].label === 'Episodes') {
      <app-tabs-episodes [seriesId]="mediaId()"></app-tabs-episodes>
    }
    @else if (tabs[selectedIndex].label === 'Related') {
        <app-tabs-related [mediaId]="mediaId()" [mediaType]="mediaType()" ></app-tabs-related>
    }

    @else if (tabs[selectedIndex].label === 'More Info') {
    <div class="p-6 text-off-white">

      <h2 class="text-2xl font-bold mb-6">About</h2>

      <div class="flex flex-col lg:flex-row lg:justify-between lg:gap-20">
        <div class="lg:flex-1 lg:border-r">
          <div  class="flex flex-wrap items-center gap-x-3 text-gray-300 mb-4">
            @if (this.isSeries) {
            <span>{{this.mediadetails.countSeasons}} Seasons</span>
            <span class="w-2 h-2 bg-blurple rounded-full"></span>
            <span>{{this.mediadetails.countEpisodes}} Episode</span>
            <span class="w-2 h-2 bg-blurple rounded-full"></span>
            }
            @for(cat of mediadetails.categories; track  $index){
              <span>{{cat.name}}</span>
              <span class="w-2 h-2 bg-blurple rounded-full"></span>
            }

          </div>
          <p class="text-gray-200 mb-8 lg:mb-0">
            {{this.mediadetails.description}}
          </p>
        </div>

        <div class="lg:flex-1 lg:max-w-[300px]">
          <h3 class="font-semibold text-gray-300 mb-2">Cast:</h3>
          <p class="text-gray-200">
            {{ mediadetails.cast.join(', ') }}
          </p>
        </div>
      </div>
    </div>
    }
    @else {
    <div class="px-4">
      {{ tabs[selectedIndex].content }}
    </div>
    }
  </div>
</div>
</div>
