<div class="w-screen h-screen flex justify-center items-center bg-[url('/images/wallpapers/blur.jpg')] bg-cover bg-center relative">
    <div class="w-full md:w-100 h-90 flex flex-col justify-between items-center md:bg-surface-black p-6 rounded-xl z-10">
        <h1 class="text-off-white text-2xl font-semibold">Check your Email</h1>
        <i class="fa-regular fa-envelope text-9xl text-off-white"></i>
        <p class="text-sm text-center text-light-blurple">Reset your password via link sent to
            <span class="text-vivid-cerulean text-center italic">{{email}}</span>
        </p>
        <p class="text-sm text-center text-light-blurple">Didn't receive the email?
            <span class="text-vivid-cerulean text-center cursor-pointer" (click)="sendMail()">Resend</span>
        </p>
        <input
            class="cursor-pointer text-center bg-gradient-to-r from-blurple to-button-hover hover:to-blurple transition duration-300
            py-2 px-5 w-fit block mx-auto rounded-full font-bold"
            type="button" routerLink="/home" value="Return to Home" />
    </div>
    <div class="w-full h-16 bg-gradient-to-t from-background-black to-transparent absolute bottom-0"></div>
</div>
