<div class="w-screen h-screen flex justify-center items-center">
    <div class="w-full md:w-100 h-90 flex flex-col justify-between items-center md:bg-surface-black p-5 rounded-md">
        <h1 class="text-light-blurple text-3xl">Check your Email</h1>
        <span
            class="bg-radial to-dark-blurple from-black to-80% bg-clip-text text-transparent drop-shadow-sm drop-shadow-white">
            <i class="fa-regular fa-envelope text-[180px]"></i>
        </span>
        <p class="text-sm text-center text-light-blurple">A password reset request has been made. Please click the link
            we sent to
            <span class="text-vivid-cerulean text-center italic">{{email}}</span> to reset your password
        </p>
        <p class="text-sm text-center text-light-blurple">Can't find the email?
            <span class="text-vivid-cerulean text-center cursor-pointer" (click)="sendMail()">resend</span>
        </p>
        <input
            class="text-sm text-off-white border-1 border-blurple bg-linear-to-r from-blurple to-vivid-cerulean hover:bg-linear-to-r hover:to-blurple hover:from-vivid-cerulean transition duration-700 rounded-3xl p-3 cursor-pointer"
            type="button" routerLink="/home" value="Return to Home" />
    </div>
</div>