<div class="mt-13 mb-8">
    <div
  class=" font-semibold text-white container mx-auto flex flex-col gap-7"
>
<ul class="flex flex-col md:gap-2.5 md:flex-row justify-center flex-wrap gap-y-[24px]  ">
<li
  class=" relative mx-0 flex items-center justify-center text-center md:mb-0"
  data-testid="footer-menu-item"
>
  <a class="" routerLink="/home" >
    <h3 class="transition-colors duration-500 hover:text-dark-blurple text-white">
      &nbsp;Home&nbsp;
    </h3>
  </a>
</li>
<li
  class=" relative mx-0 flex items-center justify-center text-center md:mb-0"
  data-testid="footer-menu-item"
>
  <a class="" routerLink="/home" 
    ><h3
      class="transition-colors duration-500 hover:text-dark-blurple text-white"
    >
      &nbsp;Contact Us&nbsp;
    </h3></a
  >
</li>
<li
  class=" relative mx-0 flex items-center justify-center text-center md:mb-0"
  data-testid="footer-menu-item"
>
  <a routerLink="/home"
    href="https://help.shahid.mbc.net/s/?language=en_US"
    class=""
    target="_blank"
    rel="noopener noreferrer nofollow"
    ><h3
      class="transition-colors duration-500 hover:text-dark-blurple text-white"
    >
      &nbsp;Help Center&nbsp;
    </h3></a
  >
</li>
<li
  class=" relative mx-0 flex items-center justify-center text-center md:mb-0"
  data-testid="footer-menu-item"
>
  <a  routerLink="/home"
  class="" href="/en/applications"
    ><h3
      class="transition-colors duration-500 hover:text-dark-blurple text-white"
    >
      &nbsp;Applications&nbsp;
    </h3></a
  >
</li>
<li
  class=" relative mx-0 flex items-center justify-center text-center md:mb-0"
  data-testid="footer-menu-item"
>
  <a class="" href="/en/terms-and-conditions"
    ><h3
      class="transition-colors duration-500 hover:text-dark-blurple text-white"
    >
      &nbsp;Terms and Conditions&nbsp;
    </h3></a
  >
</li>
<li
  class=" relative mx-0 flex items-center justify-center text-center md:mb-0"
  data-testid="footer-menu-item"
>
  <a routerLink="/home" 
  class="" href="/en/privacy-policy"
    ><h3
      class="transition-colors duration-500 hover:text-dark-blurple text-white"
    >
      &nbsp;Privacy policy&nbsp;
    </h3></a
  >
</li>
</ul>
 
  <div
    class="mb-6 mt-3 flex justify-center md:mt-0 md:vw-mb-[24] rtl:flex-row-reverse gap-[12px] md:vw-gap-[24]"
    data-testid="social-list"
  >
    <a
      href="https://www.facebook.com/ShahidVOD/"
      class="inline-block h-8 w-8 md:vw-h-[40] md:vw-w-[40] xl:h-10 xl:w-10 2xl:vw-h-[40] 2xl:vw-w-[40]"
      data-testid="social-list-items"
      target="_blank"
      rel="noreferrer"
      aria-label="facebook"
      >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="40"
        height="40"
        viewBox="0 0 40 40"
        class="h-full w-full hover:scale-130 transition fill-gray-500 hover:fill-dark-blurple"
      >
        <g fill-rule="evenodd">
          <g>
            <g>
              <path
                d="M40 20c0 11.046-8.954 20-20 20C8.955 40 0 31.046 0 20S8.955 0 20 0c11.046 0 20 8.954 20 20"
                transform="translate(-492 -92) translate(492 92)"
              ></path>
              <path
                fill="#FFF"
                d="M21.49 30v-8.667h2.949l.442-3.378h-3.39V15.8c0-.978.275-1.644 1.696-1.644L25 14.154v-3.021c-.313-.041-1.39-.133-2.64-.133-2.615 0-4.404 1.574-4.404 4.465v2.49H15v3.378h2.956V30h3.534"
                transform="translate(-492 -92) translate(492 92)"
              ></path>
            </g>
          </g>
        </g></svg></a
    ><a
      href="https://twitter.com/shahidvod"
      class="inline-block h-8 w-8 md:vw-h-[40] md:vw-w-[40] xl:h-10 xl:w-10 2xl:vw-h-[40] 2xl:vw-w-[40]"
      data-testid="social-list-items"
      target="_blank"
      rel="noreferrer"
      aria-label="twitter"
      ><svg
        xmlns="http://www.w3.org/2000/svg"
        width="40"
        height="40"
        viewBox="0 0 40 40"
        class="h-full w-full hover:scale-130 transition fill-gray-500 hover:fill-dark-blurple"
      >
        <g fill-rule="evenodd">
          <g>
            <g>
              <g>
                <path
                  d="M40 20c0 11.046-8.954 20-20 20S0 31.046 0 20 8.954 0 20 0s20 8.954 20 20"
                  transform="translate(-556 -92) translate(492 92) translate(64)"
                ></path>
                <path
                  fill="#FFF"
                  d="M23.847 12c-2.267 0-4.103 1.809-4.103 4.04 0 .316.037.624.106.92-3.41-.169-6.434-1.777-8.457-4.22-.354.595-.555 1.29-.555 2.03 0 1.402.723 2.637 1.824 3.361-.672-.02-1.305-.202-1.858-.504v.05c0 1.958 1.415 3.59 3.29 3.961-.344.092-.705.142-1.08.142-.264 0-.521-.026-.773-.073.523 1.605 2.038 2.773 3.834 2.805-1.404 1.084-3.174 1.73-5.096 1.73-.331 0-.658-.02-.979-.057C11.817 27.331 13.973 28 16.29 28c7.548 0 11.675-6.154 11.675-11.492 0-.176-.004-.35-.012-.523.802-.57 1.498-1.281 2.047-2.091-.735.321-1.526.538-2.356.636.846-.5 1.499-1.292 1.804-2.235-.793.463-1.671.799-2.605.98-.748-.784-1.816-1.275-2.996-1.275"
                  transform="translate(-556 -92) translate(492 92) translate(64)"
                ></path>
              </g>
            </g>
          </g>
        </g></svg></a
    ><a
      href="https://www.instagram.com/shahid.vod"
      class="inline-block h-8 w-8 md:vw-h-[40] md:vw-w-[40] xl:h-10 xl:w-10 2xl:vw-h-[40] 2xl:vw-w-[40]"
      data-testid="social-list-items"
      target="_blank"
      rel="noreferrer"
      aria-label="instagram"
      ><svg
        xmlns="http://www.w3.org/2000/svg"
        width="40"
        height="40"
        viewBox="0 0 40 40"
        class="h-full w-full hover:scale-130 transition fill-gray-500 hover:fill-dark-blurple"
      >
        <g fill-rule="evenodd">
          <g>
            <g>
              <g>
                <path
                  d="M40 20c0 11.046-8.954 20-20 20S0 31.046 0 20 8.954 0 20 0s20 8.954 20 20"
                  transform="translate(-620 -92) translate(492 92) translate(128)"
                ></path>
                <path
                  fill="#FFF"
                  d="M20.02 16.065c-2.219 0-4.017 1.742-4.017 3.892s1.798 3.892 4.017 3.892c2.219 0 4.018-1.742 4.018-3.892s-1.8-3.892-4.018-3.892zm7.721 2.394h-1.76c.165.542.256 1.119.256 1.716 0 3.325-2.784 6.022-6.217 6.022-3.434 0-6.217-2.697-6.217-6.022 0-.597.089-1.174.257-1.716h-1.837v8.447c0 .437.358.795.794.795h13.928c.438 0 .796-.358.796-.795v-8.447zm-3.17-6.238c-.495 0-.902.407-.902.902v2.154c0 .496.407.902.902.902h2.259c.496 0 .902-.406.902-.902v-2.154c0-.495-.406-.902-.902-.902h-2.26zM12.568 10h14.866C28.847 10 30 11.155 30 12.566v14.867C30 28.845 28.847 30 27.434 30H12.568C11.157 30 10 28.845 10 27.433V12.566C10 11.155 11.157 10 12.568 10z"
                  transform="translate(-620 -92) translate(492 92) translate(128)"
                ></path>
              </g>
            </g>
          </g>
        </g></svg></a
    ><a
      href="https://t.me/shahid_Vod"
      class="inline-block h-8 w-8 md:vw-h-[40] md:vw-w-[40] xl:h-10 xl:w-10 2xl:vw-h-[40] 2xl:vw-w-[40]"
      data-testid="social-list-items"
      target="_blank"
      rel="noreferrer"
      aria-label="telegram"
      ><svg
        xmlns="http://www.w3.org/2000/svg"
        width="40"
        height="40"
        viewBox="0 0 40 40"
        class="h-full w-full hover:scale-130 transition fill-gray-500 hover:fill-dark-blurple"
      >
        <g fill-rule="evenodd">
          <path
            d="M40 20c0 11.046-8.954 20-20 20C8.955 40 0 31.046 0 20S8.955 0 20 0c11.046 0 20 8.954 20 20"
          ></path>
          <path
            d="M9.375 19.318c5.369-2.399 8.949-3.98 10.74-4.744 5.114-2.182 6.177-2.561 6.87-2.574.152-.003.493.036.713.22.187.155.238.364.262.511.025.147.055.482.031.744-.277 2.987-1.476 10.235-2.086 13.58-.259 1.416-.767 1.89-1.259 1.937-1.07.1-1.882-.725-2.917-1.422-1.621-1.09-2.537-1.768-4.11-2.831-1.818-1.23-.64-1.905.396-3.009.272-.289 4.984-4.685 5.075-5.083.011-.05.022-.236-.086-.334-.107-.098-.266-.065-.381-.038-.163.038-2.752 1.793-7.768 5.266-.735.518-1.4.77-1.997.757-.658-.015-1.923-.382-2.863-.695-1.153-.385-2.07-.588-1.99-1.241.041-.34.498-.688 1.37-1.044z"
            fill="#FFF"
          ></path>
        </g></svg></a
    ><a
      href="https://www.tiktok.com/@shahid?lang=en"
      class="inline-block h-8 w-8 md:vw-h-[40] md:vw-w-[40] xl:h-10 xl:w-10 2xl:vw-h-[40] 2xl:vw-w-[40]"
      data-testid="social-list-items"
      target="_blank"
      rel="noreferrer"
      aria-label="tiktok"
      ><svg
        width="40"
        height="40"
        viewBox="0 0 40 40"
        class="h-full w-full hover:scale-130 transition fill-gray-500 hover:fill-dark-blurple"
        xmlns="http://www.w3.org/2000/svg"
      >
        <g fill-rule="evenodd">
          <path
            d="M40 20c0 11.046-8.954 20-20 20C8.955 40 0 31.046 0 20S8.955 0 20 0c11.046 0 20 8.954 20 20"
          ></path>
          <g transform="translate(11 10)">
            <path
              d="M17.997 8.496a5.617 5.617 0 0 1-5.216-2.509v8.633c0 3.524-2.86 6.38-6.39 6.38S0 18.144 0 14.62s2.861-6.38 6.39-6.38c.134 0 .265.012.396.02v3.144c-.131-.016-.26-.04-.395-.04a3.259 3.259 0 0 0-3.262 3.257 3.259 3.259 0 0 0 3.262 3.256c1.801 0 3.393-1.417 3.393-3.216L9.815 0h3.013A5.608 5.608 0 0 0 18 5.002v3.494"
              fill="#FFF"
            ></path>
          </g>
        </g></svg></a
    ><a
      href="https://www.youtube.com/channel/UCokgtRLAWKNPdfFMaSfLLbA"
      class="inline-block h-8 w-8 md:vw-h-[40] md:vw-w-[40] xl:h-10 xl:w-10 2xl:vw-h-[40] 2xl:vw-w-[40]"
      data-testid="social-list-items"
      target="_blank"
      rel="noreferrer"
      aria-label="youtube"
      ><svg
        xmlns="http://www.w3.org/2000/svg"
        width="40"
        height="40"
        viewBox="0 0 40 40"
        class="h-full w-full hover:scale-130 transition fill-gray-500 hover:fill-dark-blurple"
      >
        <g fill-rule="evenodd">
          <g>
            <g>
              <g>
                <path
                  d="M40 20c0 11.046-8.954 20-20 20S0 31.046 0 20 8.954 0 20 0s20 8.954 20 20"
                  transform="translate(-684 -92) translate(492 92) translate(192)"
                ></path>
                <path
                  fill="#FFF"
                  d="M17.937 22.582l-.002-5.593 5.404 2.807-5.402 2.786zM29.8 16.02s-.196-1.372-.796-1.976c-.76-.793-1.613-.797-2.004-.842C24.202 13 20.005 13 20.005 13h-.008s-4.2 0-6.998.202c-.39.045-1.242.05-2.004.842-.599.604-.794 1.976-.794 1.976S10 17.63 10 19.242v1.51c0 1.611.2 3.222.2 3.222s.196 1.372.795 1.976c.762.793 1.762.767 2.206.85 1.6.153 6.799.2 6.799.2s4.202-.007 7.001-.208c.391-.045 1.244-.05 2.004-.842.6-.604.796-1.976.796-1.976s.199-1.61.199-3.222v-1.51c0-1.611-.199-3.222-.199-3.222z"
                  transform="translate(-684 -92) translate(492 92) translate(192)"
                ></path>
              </g>
            </g>
          </g>
        </g></svg></a
    ><a
      href="https://www.dailymotion.com/Shahid_VOD"
      class="inline-block h-8 w-8 md:vw-h-[40] md:vw-w-[40] xl:h-10 xl:w-10 2xl:vw-h-[40] 2xl:vw-w-[40]"
      data-testid="social-list-items"
      target="_blank"
      rel="noreferrer"
      aria-label="dailymotion"
      ><svg
        xmlns="http://www.w3.org/2000/svg"
        width="40"
        height="40"
        viewBox="0 0 40 40"
        class="h-full w-full hover:scale-130 transition fill-gray-500 hover:fill-dark-blurple"
      >
        <g fill-rule="evenodd">
          <g>
            <g>
              <g>
                <path
                  d="M40 20c0 11.046-8.954 20-20 20S0 31.046 0 20 8.954 0 20 0s20 8.954 20 20"
                  transform="translate(-748 -92) translate(492 92) translate(256)"
                ></path>
                <path
                  fill="#FFF"
                  d="M21.768 23.816c-.715.723-1.611 1.084-2.689 1.084-1.06 0-1.938-.352-2.635-1.057-.698-.706-1.047-1.614-1.047-2.725 0-1.058.358-1.935 1.073-2.631.715-.697 1.594-1.045 2.636-1.045.706 0 1.347.163 1.92.49.574.326 1.02.77 1.338 1.335.318.564.477 1.181.477 1.851 0 1.076-.358 1.975-1.073 2.698zm.835-14.864v6.136c-.618-.617-1.276-1.062-1.974-1.335-.697-.274-1.479-.41-2.344-.41-1.395 0-2.65.343-3.762 1.031s-1.978 1.627-2.596 2.817C11.31 18.38 11 19.699 11 21.145c0 1.48.305 2.817.914 4.007.61 1.19 1.475 2.129 2.596 2.817C15.63 28.656 16.916 29 18.364 29c2.102 0 3.568-.688 4.398-2.063h.053v1.88H27V8l-4.397.952z"
                  transform="translate(-748 -92) translate(492 92) translate(256)"
                ></path>
              </g>
            </g>
          </g>
        </g></svg
    ></a>
  </div>

 
    
    <img
    alt="App logo"
    loading="lazy"
    width="80"
    height="50"
    decoding="async"
    data-nimg="1"

    class="self-center"
    
    src="../images/logos/marvel-logo.png"
    
  />

  <p
    class="text-center text-xs font-medium leading-5.5 text-g hover:text-purple transition transitionrfill-gray-500Text md:text-md-14 lg:text-lg-14 xl:text-xl-14 2xl:text-2xl-14"
  >
    All rights reserved © ITI Students Team
  </p>

</div>
</div>

