<div class="watch-area">
    <div class="flex" [ngClass]="{'sidebar-open': IsSidebarOpen}">
        <div class="video-stream-container" [ngClass]="{'sidebar-open': IsSidebarOpen}">
            <app-video-stream 
                (emitToggleSidebarValue)="IsSidebarOpen = $event"
                (emitEpisodes)="episodes = $event"
                (emitSimilarMovies)="similarMovies = $event"
                (emitMediaType)="mediaType = $event"
                (emitPosterUrl)="posterUrl = $event"
                (emitMediaTitle)="mediaTitle = $event"
                (emitMediaId)="mediaId = $event">
            </app-video-stream>
        </div>
        <div class="sidebar" [ngClass]="{'open': IsSidebarOpen}">
            <app-watch-episodes 
                [episodes]="episodes"
                [similarMovies]="similarMovies"
                [mediaType]="mediaType"
                [posterUrl]="posterUrl"
                [mediaTitle]="mediaTitle"
                [mediaId]="mediaId">
            </app-watch-episodes>
        </div>
    </div>
</div>