<div class="flex w-full h-screen overflow-hidden">

    <!-- video stream component -->
    <div [ngClass]="{
                'w-3/4': IsSidebarOpen,
                'w-full': !IsSidebarOpen
            }" class="transition-all duration-300 ease-in-out">
        <app-video-stream (emitToggleSidebarValue)="onSidebarToggle($event)"></app-video-stream>
    </div>



    <!-- Sidebar component -->
    <div [ngClass]="{
            'w-1/4': IsSidebarOpen,
            'w-0 overflow-scroll opacity-0 pointer-events-none ': !IsSidebarOpen
          }" class="bg-blurple border-l-2 p-2  text-off-white flex transition-all duration-300 ease-in-out h-full overflow-y-auto">
        <app-watch-episodes>
            <app-episodes-list></app-episodes-list>
        </app-watch-episodes>
    </div>

</div>