<div class="flex text-off-white flex-row justify-center items-center h-screen bg-[url('/images/wallpapers/blur.jpg')] bg-cover bg-center relative">
  <div class="bg-surface-black mt-[64px] z-10
     md:w-[40%] lg:w-[35%] xl:w-[28%] rounded-xl flex flex-col p-6 items-center gap-2.5">
    <div class="text-center text-[16px] font-black md:vw-text-[24] lg:!font-bold text-light-blue-3">
      <h3 class="text-xl md:text-2xl font-bold">Sign in to Cima</h3>
    </div>
    <form class="mt-[10px] flex w-full flex-col text-center gap-5" (ngSubmit)="signInSubmit()" [formGroup]="signInForm">
      <!--? controls  -->
      <div class="flex flex-col gap-6">
        <div class="">
          <p-floatlabel variant="in" class="my-2">
            <input pInputText id="in_label" formControlName="email" autocomplete="off"
              class="w-full py-2 pt-4 bg-light-blurple text-black" />
            <label for="in_label" class="text-gray-500">Enter Email</label>
          </p-floatlabel>

          @if(signInForm.get('email')?.errors&&signInForm.get('email')?.touched)
          { @if (signInForm.get('email')?.getError('required')) {
          <p class="absolute text-sm text-film-red">Email Is Required</p>
          } @else if (signInForm.get('email')?.getError('email')) {
          <p class="absolute text-sm text-film-red">Enter Vaild Email</p>
          } }
        </div>

        <div>
          <p-floatlabel variant="in" class="my-2">
            <p-password class="block" [toggleMask]="true" [fluid]="true" feedback="false" formControlName="password"
              inputStyleClass="bg-light-blurple text-black py-3 w-full block">
              <ng-template #header>
                <div class="font-semibold text-xm mb-4">Pick a <span class="text-mint-green font-bold ">Strong </span>
                  password</div>
              </ng-template>
              <ng-template #footer class="bg-light-blurple">
                <ul class="pl-2 ml-2 my-0 leading-normal text-start list-disc">
                  <li>
                    <span>At least one lowercase</span>
                  </li>
                  <li>
                    <span>At least one uppercase</span>
                  </li>
                  <li><span>At least one numeric</span></li>
                  <li><span>At least Special Character</span></li>
                  <li><span>Minimum 8 characters</span></li>
                </ul>
              </ng-template>
            </p-password>
            <label for="in_label" class="text-gray-500">Enter Password</label>
          </p-floatlabel>

          @if(signInForm.get('password')?.errors&&signInForm.get('password')?.touched)
          { @if (signInForm.get('password')?.getError('required')) {
          <p class="absolute text-sm text-film-red">Password Is Required</p>
          } @else if (signInForm.get('password')?.getError('pattern')) {
          <p class="absolute text-sm text-film-red">At Least 8 characters</p>
          } }
        </div>
      </div>

      <div class="w-fit self-center text-center text-[12px] leading-[14px] text-blurple hover:text-dark-blurple font-semibold mt-3">
        <a routerLink="/forget-password">
          Forgot password?</a>
      </div>

      <button type="submit"
        class="cursor-pointer text-center bg-gradient-to-r from-blurple to-button-hover hover:to-blurple transition duration-300
        py-2 px-5 w-fit block mx-auto rounded-full font-bold">
        Sign in
      </button>
    </form>
    <!--?======================== continue with ========================================= -->
    <div class="flex w-full flex-row items-center my-3">
      <div class="h-[1px] rounded-2xl flex-1 bg-greyple"></div>
      <span class="px-[12px] text-sm font-medium leading-[13px]">or continue with</span>
      <div class="h-[1px] rounded-2xl flex-1 bg-greyple"></div>
    </div>

    <!--?================= external logins ================== -->

    <div class="flex gap-[32px]">

      <button aria-label="facebook" data-testid="facebook-btn" type="button"
        class="border-1 border-blurple h-9 w-9 rounded-full relative hover:bg-blurple
        flex justify-center items-center text-lg transition-all duration-200 ease-in-out text-off-white">
          <i class="fa-brands fa-facebook"></i>
      </button>

      <button aria-label="apple" data-testid="apple-btn" type="button"
        class="border-1 border-blurple h-9 w-9 rounded-full relative hover:bg-blurple
        flex justify-center items-center text-lg transition-all duration-200 ease-in-out text-off-white">
          <i class="fa-brands fa-apple"></i>
      </button>

      <button aria-label="google" data-testid="google-btn" type="button"
        class="border-1 border-blurple h-9 w-9 rounded-full relative hover:bg-blurple
        flex justify-center items-center text-lg transition-all duration-200 ease-in-out text-off-white">
          <i class="fa-brands fa-google"></i>
      </button>

    </div>

    <div class="text-center text-[12px] font-semibold">
      <span class="text-gray-3">New to Cima?</span>
      <div class="text-blurple m-auto block w-fit cursor-pointer md:inline">
        <a routerLink="/sign-up"> Sign up</a>
      </div>
    </div>
  </div>
  <div class="w-full h-16 bg-gradient-to-t from-background-black to-transparent absolute bottom-0"></div>
</div>
