<div class="h-screen flex flex-row justify-center items-center">
  <div class="bg-surface-black text-center p-5 mt-[64px] sm:w-[35%] mx-2 rounded-xl flex flex-col gap-2">
    <h3 class="font-semibold text-3xl">Edit Password</h3>
    <form class="mt-[10px] flex w-full flex-col text-center gap-5" (ngSubmit)="changeSubmit()" [formGroup]="changeForm">
      <!--? controls  -->
      <div class="flex flex-col gap-6">
        <div>
          <p-floatlabel variant="in">
            <p-password class="block" [toggleMask]="true" [fluid]="true" feedback="false"
              formControlName="currentPassword"
              inputStyleClass="bg-light-blurple text-black rounded-2xl py-3 w-full block" />
            <label for="in_label" class="text-gray-500">Enter Current Password</label>
          </p-floatlabel>

          @if(changeForm.get('currentPassword')?.errors&&changeForm.get('currentPassword')?.touched)
          { @if (changeForm.get('currentPassword')?.getError('required')) {
          <p class="absolute text-sm text-red-600">
            Current Password Is Required
          </p>
          } @else if (changeForm.get('currentPassword')?.getError('pattern')) {
          <p class="absolute text-sm text-red-600">
            <span>must be at least 8 characters</span>
          </p>
          } }
        </div>
        <div>
          <p-floatlabel variant="in">
            <p-password class="block" [toggleMask]="true" [fluid]="true" formControlName="newPassword"
              strongRegex="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$" inputStyleClass="bg-light-blurple text-black rounded-2xl py-3 
              w-full block">
              <ng-template #header>
                <div class="font-semibold text-xm mb-4">Pick a <span class="text-green-700 font-bold ">Strong </span>
                  password</div>
              </ng-template>
              <ng-template #footer class="bg-light-blurple">
                <ul class="pl-2 ml-2 my-0 leading-normal text-start list-disc">
                  <li>
                    <span class="text-background-black">At least one lowercase</span>
                  </li>
                  <li>
                    <span class="text-background-black">At least one uppercase</span>
                  </li>
                  <li><span class="text-background-black">At least one numeric</span></li>
                  <li><span class="text-background-black">At least Special Character</span></li>
                  <li><span class="text-background-black">Minimum 8 characters</span></li>
                </ul>
              </ng-template>
            </p-password>
            <label for="in_label" class="text-gray-500">Enter New Password</label>
          </p-floatlabel>

          @if(changeForm.get('newPassword')?.errors&&changeForm.get('newPassword')?.touched)
          { @if (changeForm.get('newPassword')?.getError('required')) {
          <p class="absolute text-sm text-red-600">New Password Is Required</p>
          } @else if (changeForm.get('newPassword')?.getError('pattern')) {
          <p class="absolute text-sm text-red-600">Enter Vaild Password</p>
          } }
        </div>

        <div>
          <p-floatlabel variant="in">
            <p-password class="block rounded-4xl" [toggleMask]="true" [fluid]="true" feedback="false"
              formControlName="confirmPassword"
              inputStyleClass="bg-light-blurple text-black rounded-2xl  py-3 w-full block" />
            <label for="in_label" class="text-gray-500">Confirm New Password</label>
          </p-floatlabel>

          @if(changeForm.getError('mismatch') &&
          changeForm.get('confirmPassword')?.touched) {
          <p class="absolute text-sm text-red-600">Passwords do not match</p>
          }
        </div>
      </div>

      <button type="submit"
        class="cursor-pointer text-center bg-gray-500 hover:bg-blurple transition duration-700 py-2 px-5 w-fit block mx-auto rounded-2xl">
        Save
      </button>
    </form>
  </div>
</div>