<div class="h-screen flex flex-row justify-center items-center">
    <div
      class="bg-surface-black text-center p-5 mt-[64px] sm:w-[35%] mx-2 rounded-xl flex flex-col gap-2"
    >
    <span class="  bg-linear-to-r  to-dark-blurple
    from-black to-50% bg-clip-text
    text-transparent drop-shadow-sm
    drop-shadow-white"
    
    >
    
    <i class="fa-regular fa-circle-check text-[180px]"></i>
</span>
<h3 class="font-semibold text-3xl">Password changed!</h3>


<button
type="submit"
class="cursor-pointer text-center mt-6  bg-dark-blurple hover:bg-blurple transition duration-700 py-2 px-5 w-fit block mx-auto rounded-2xl"
>
<a routerLink="/sign-in"  >
    Sign in
</a>
</button>
    </div>
  </div>
  