<div class="mt-25">
    <div class="mt-5 mx-3  bg-surface-black rounded-2xl  transition-all duration-200
    opacity-100 scale-100">
        <a routerLink="/home" routerLinkActive="text-blurple"
            class="flex items-center border-b-2 border-b-greyple px-4 py-5 text-sm text-off-white cursor-pointer hover:text-blurple">
            <i class="fas fa-home mr-3 text-gray-500 w-4"></i>
            Home
        </a>
        <a routerLink="/Genres" routerLinkActive="text-blurple"
            class="flex items-center border-b-2 border-b-greyple px-4 py-5 text-sm text-off-white cursor-pointer hover:text-blurple">
            <i class="fas fa-film mr-3 text-gray-500 w-4"></i>
            Genres
        </a>
        <a routerLink="/Charts" routerLinkActive="text-blurple"
            class="flex items-center border-b-2 border-b-greyple px-4 py-5 text-sm text-off-white cursor-pointer hover:text-blurple">
            <i class="fas fa-chart-line mr-3  text-gray-500 w-4"></i>
            Charts
        </a>
        <a routerLink="/Categories" routerLinkActive="text-blurple"
            class="flex items-center border-b-2 border-b-greyple px-4 py-5 text-sm text-off-white cursor-pointer hover:text-blurple">
            <i class="fas fa-link  mr-3  text-gray-500 w-4"></i>
            Categories
        </a>
        <a routerLink="/Mylist" routerLinkActive="text-blurple"
            class="flex items-center  px-4 py-5 text-sm text-off-white cursor-pointer hover:text-blurple">
            <i class="fas fa-bookmark mr-3  text-gray-500 w-4"></i>
            My Lists
        </a>
    </div>

    <div class="mx-4 mb-3 mt-8 text-[14px] text-light-blurple">Account Settings</div>

    <div class="mt-5 mx-3  bg-surface-black rounded-2xl  z-50  transition-all duration-200
     opacity-100 scale-100">
        <a href="#"
            class="flex items-center border-b-2 border-b-greyple px-4 py-5 text-sm text-off-white cursor-pointer hover:text-blurple">
            <i class="fas fa-user-cog mr-3 text-gray-500 w-4"></i>
            Account Settings
        </a>
        <a href="#"
            class="flex items-center border-b-2 border-b-greyple px-4 py-5 text-sm text-off-white cursor-pointer hover:text-blurple">
            <i class="fas fa-laptop mr-3 text-gray-500 w-4"></i>
            Devices Management
        </a>
        <a href="#" class="flex items-center  px-4 py-5 text-sm text-off-white cursor-pointer hover:text-blurple">
            <i class="fas fa-sign-out-alt mr-3  text-gray-500 w-4"></i>
            Logout
        </a>
    </div>