<div class="h-screen flex flex-row justify-center items-center bg-[url('/images/wallpapers/blur.jpg')] bg-cover bg-center relative">
  <div class="bg-surface-black text-center p-5 mt-[64px] sm:w-[35%] mx-2 rounded-xl flex flex-col gap-2 z-10">
    <h3 class="text-xl md:text-2xl font-bold">Enter New Password</h3>
    <form class="mt-[10px] flex w-full flex-col text-center gap-5" (ngSubmit)="resetSubmit()" [formGroup]="resetForm">
      <!--? controls  -->
      <div class="flex flex-col gap-6">
        <div>
          <p-floatlabel variant="in" class="my-3">
            <p-password class="block" [toggleMask]="true" [fluid]="true"
              strongRegex="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$"
              formControlName="password" inputStyleClass="bg-light-blurple text-black py-3 w-full block">
              <ng-template #header>
                <div class="font-semibold text-xm mb-4">Pick a <span class="text-mint-green font-bold ">Strong </span>
                  password</div>
              </ng-template>
              <ng-template #footer class="bg-light-blurple">
                <ul class="pl-2 ml-2 my-0 leading-normal text-start list-disc">
                  <li>
                    <span>At least one lowercase</span>
                  </li>
                  <li>
                    <span>At least one uppercase</span>
                  </li>
                  <li><span>At least one numeric</span></li>
                  <li><span>At least Special Character</span></li>
                  <li><span>Minimum 8 characters</span></li>
                </ul>
              </ng-template>
            </p-password>
            <label for="in_label" class="text-gray-500">Enter Password</label>
          </p-floatlabel>

          @if(resetForm.get('password')?.errors&&resetForm.get('password')?.touched)
          { @if (resetForm.get('password')?.getError('required')) {
          <p class="absolute text-sm text-film-red">Password Is Required</p>
          } @else if (resetForm.get('password')?.getError('pattern')) {
          <p class="absolute text-sm text-film-red">Enter Vaild Password</p>
          } }
        </div>

        <div>
          <p-floatlabel variant="in" class="my-3">
            <p-password class="block" [toggleMask]="true" [fluid]="true" feedback="false"
              formControlName="confirmPassword" inputStyleClass="bg-light-blurple text-black py-3 w-full block" />
            <label for="in_label" class="text-gray-500">Confirm New Password</label>
          </p-floatlabel>

          @if(resetForm.getError('mismatch') &&
          resetForm.get('confirmPassword')?.touched) {
          <p class="absolute text-sm text-film-red">Passwords do not match</p>
          }
        </div>
      </div>

      <button type="submit"
        class="cursor-pointer text-center bg-gradient-to-r from-blurple to-button-hover hover:to-blurple transition duration-300
        py-2 px-5 w-fit block mx-auto rounded-full font-bold">
        Reset
      </button>
    </form>
  </div>
  <div class="w-full h-16 bg-gradient-to-t from-background-black to-transparent absolute bottom-0"></div>

</div>
