<div class="h-screen flex flex-row justify-center items-center">
  <div
    class="bg-surface-black text-center p-5 mt-[64px] sm:w-[35%] mx-2 rounded-xl flex flex-col gap-2"
  >
    <h3 class="font-semibold">Enter New Password</h3>
    <form
      class="mt-[10px] flex w-full flex-col text-center gap-5"
      (ngSubmit)="resetSubmit()"
      [formGroup]="resetForm"
    >
      <!--? controls  -->
      <div class="flex flex-col gap-6">
        <div>
          <p-floatlabel variant="in">
            <p-password
              class="block"
              [toggleMask]="true"
              [fluid]="true"
              formControlName="password"
              inputStyleClass="bg-white text-black py-3 w-full block"
            />
            <label for="in_label" class="text-gray-500">Enter Password</label>
          </p-floatlabel>

          @if(resetForm.get('password')?.errors&&resetForm.get('password')?.touched)
          { @if (resetForm.get('password')?.getError('required')) {
          <p class="absolute text-sm text-red-600">Password Is Required</p>
          } @else if (resetForm.get('password')?.getError('pattern')) {
          <p class="absolute text-sm text-red-600">Enter Vaild Password</p>
          } }
        </div>

        <div>
          <p-floatlabel variant="in">
            <p-password
              class="block"
              [toggleMask]="true"
              [fluid]="true"
              feedback="false"
              formControlName="confirmPassword"
              inputStyleClass="bg-white text-black py-3 w-full block"
            />
            <label for="in_label" class="text-gray-500">Enter Repassword</label>
          </p-floatlabel>

          @if(resetForm.getError('mismatch') &&
          resetForm.get('confirmPassword')?.touched) {
          <p class="absolute text-sm text-red-600">Passwords do not match</p>
          }
        </div>
      </div>

      <button
        type="submit"
        class="cursor-pointer text-center bg-gray-500 hover:bg-blurple transition duration-700 py-2 px-5 w-fit block mx-auto rounded-2xl"
      >
        Reset
      </button>
    </form>
  </div>
</div>
