<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<div class="absolute top-0 left-0 pt-32 pl-20 h-full group opacity-50 hover:opacity-100
  bg-gradient-to-r from-body-charcoal/75 to-body-charcoal/0"
  [ngClass]="isHovered ? 'opacity-100' : ''">
  <div class="w-3xs group-hover:w-xs mb-2 transition-all duration-500 ease-in-out"
  [ngClass]="isHovered ? 'w-xs' : ''">
    <img src="{{currentInfo.logo}}" class="w-full" />
  </div>
  <div class="flex space-x-2 items-center">
    <div class="bg-button-hover rounded-full w-5 h-5 flex justify-center items-center">
      <i class="fa-solid fa-star text-off-white"></i>
    </div>
    <h1 class="text-off-white font-bold text-lg">{{currentInfo.promo}}</h1>
  </div>
  <div class="text-off-white text-sm font-bold flex items-center space-x-1.5">
    @for (tag of currentInfo.tags; track $index) {
      <span>{{tag}}</span>
      @if(!$last) {
        <span class="text-blurple text-2xl">•</span>
      }
    }
  </div>
  <div class="my-2 flex">
    <a class="z-20" href="{{currentInfo.link}}">
      <div class="rounded-full w-14 h-14 bg-gradient-to-r from-blurple to-button-hover flex items-center justify-center
                  hover:from-dark-blurple hover:to-blurple cursor-pointer">
        <i class="fa-solid fa-play text-white text-3xl"></i>
      </div>
    </a>
    <div class="bg-greyple/35 w-52 flex items-center justify-center rounded-4xl -ml-12 z-10">
      <p class="text-off-white text-lg font-bold pl-2">{{currentInfo.button}}</p>
    </div>
  </div>
  <div class="text-off-white text-sm font-medium w-sm opacity-0 max-h-0 overflow-hidden transition-all duration-500 group-hover:opacity-100 group-hover:max-h-40"
    [ngClass]="isHovered ? 'opacity-100 max-h-40' : ''">
    <p>
      {{currentInfo.discription}}
    </p>
  </div>
</div>
