<div class="h-full w-full relative bg-black">
    <!-- Episodes actions -->
    <div (click)="toogleSideBar()" class="absolute z-50 cursor-pointer top-6 right-20">
        <i [ngClass]="{
          'text-blurple': IsSidebarOpen,
          'text-off-white': !IsSidebarOpen
        }" class="fa-solid hover:text-blurple fa-layer-group text-4xl">
        </i>
    </div>

    <!-- Share control -->
   <!-- <div class="absolute z-50 cursor-pointer top-6 right-40">
        <i class="fa-solid text-off-white hover:text-blurple fa-share text-4xl">
        </i>
    </div>  -->

   

    <!-- Video Player -->
    <div class="w-full h-full">
        <app-video-player-controls [url]="videoUrl" class="w-full h-full">
        </app-video-player-controls>
    </div>
</div>