<div class="w-screen h-screen flex justify-center items-center text-white">
    <form [formGroup]="form"
        class="w-full md:w-100 h-80 flex flex-col justify-between items-center md:bg-surface-black p-5 rounded-md">
        <h1 class="text-light-blurple text-3xl">Forgot Password</h1>
        <p class="text-sm text-center text-light-blurple">A password reset link will be sent to your email address
        </p>
        <!-- <div class="w-10/12">
            <input class="w-full bg-light-blurple p-2 rounded-sm text-black focus:outline-blurple" id="email"
                formControlName="email" placeholder="Email Address" />
            <p *ngIf="!validEmail && !isFirstInput" class="text-sm text-red-500">* Invalid Email Address</p>
        </div> -->
        <div class="w-10/12">
            <p-floatlabel variant="in" class="">
                <input pInputText id="in_label" formControlName="email" autocomplete="off"
                    class="w-full py-2 pt-4 bg-light-blurple text-black" />
                <label for="in_label" class="text-gray-500">Email Address</label>
            </p-floatlabel>
            @if (form.get('email')?.errors && !isFirstInput)
            {
            @if (form.get('email')?.getError('required'))
            {
            <p class="absolute text-sm text-red-600">Email Is Required</p>
            }
            @else if (!validEmail)
            {
            <p class="absolute text-sm text-red-600">Invalid Email</p>
            }
            }
        </div>
        <input
            class="text-off-white border-1 border-blurple bg-linear-to-r from-blurple to-vivid-cerulean hover:bg-linear-to-r hover:to-blurple hover:from-vivid-cerulean transition duration-700  w-7/12 rounded-3xl p-2 cursor-pointer"
            type="button" value="Submit" (click)="sendMail()" />
    </form>
</div>