<div
  class="w-screen h-screen flex justify-center items-center text-white bg-[url('/images/wallpapers/blur.jpg')] bg-cover bg-center relative">
  <form [formGroup]="form"
    class="w-full md:w-100 h-80 flex flex-col justify-between items-center md:bg-surface-black p-6 rounded-xl">
    <h1 class="font-semibold text-2xl text-off-white">Forgot Password</h1>

    <!-- <div class="w-10/12">
            <input class="w-full bg-light-blurple p-2 rounded-sm text-black focus:outline-blurple" id="email"
                formControlName="email" placeholder="Email Address" />
            <p *ngIf="!validEmail && !isFirstInput" class="text-sm text-red-500">* Invalid Email Address</p>
        </div> -->
    <div class="w-full">
      <p-floatlabel variant="in" class="w-full">
        <input pInputText id="in_label" formControlName="email" autocomplete="off"
          class="w-full py-2 pt-4 bg-light-blurple text-black" />
        <label for="in_label" class="text-gray-500">Email Address</label>
      </p-floatlabel>
      @if (form.get('email')?.errors && !isFirstInput)
      {
      @if (form.get('email')?.getError('required'))
      {
      <p class="absolute text-sm text-film-red">Email Is Required</p>
      }
      @else if (!validEmail)
      {
      <p class="absolute text-sm text-film-red">Invalid Email</p>
      }
      }
    </div>
    <p class="text-sm text-light-blurple">You will receive an email to reset your password or an OTP to
      verify your mobile number
    </p>
    <input
      class="cursor-pointer text-center bg-gradient-to-r from-blurple to-button-hover hover:to-blurple transition duration-300
      py-2 px-5 w-fit block mx-auto rounded-full font-bold"
      type="button" value="Submit" (click)="sendMail()" />
  </form>
  <div class="w-full h-16 bg-gradient-to-t from-background-black to-transparent absolute bottom-0"></div>
</div>
