<div class="w-full h-full">
  <img *ngIf="!videoVisible || isMobile" src="{{current.poster}}" class="w-full h-full object-cover" />
  <video *ngIf="videoVisible && !isMobile" #video loop autoplay playsinline [muted]="isMuted"
    class="absolute top-0 left-0 w-full h-full object-cover pointer-events-none">
    <source [src]="current.clip" type="video/mp4">
  </video>
  <button *ngIf="videoVisible && !isMobile" (click)="toggleMute()"
    class="absolute top-32 right-32 bg-body-charcoal/50 text-blurple border-2 border-blurple rounded-full
      hover:text-button-hover hover:border-button-hover cursor-pointer w-12 h-12
      opacity-50 hover:opacity-100">
    @if(isMuted) {
      <i class="fa-solid fa-volume-xmark"></i>
    } @else {
      <i class="fa-solid fa-volume-low"></i>
    }
  </button>
</div>
