<div class="mt-1"></div>
<div
  infiniteScroll
  [infiniteScrollDistance]="0"
  [infiniteScrollThrottle]="500"
  (scrolled)="loadMoreItems()"
>
  @for (item of items; track $index) { @defer (on viewport) {
  <app-movie-carousel
    title="Top Rated"
    [listIds]="[12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26]"
  ></app-movie-carousel>
  } @placeholder {
  <div></div>
  } }
</div>

@defer (on viewport) {
<app-movie-carousel
  title="Most Viewed"
  [listIds]="[12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26]"
></app-movie-carousel>
} @placeholder {
<div></div>
}
