<div class="absolute bottom-0 w-full h-28 flex space-x-5 justify-between items-center px-96
            bg-gradient-to-t from-body-charcoal/75 to-body-charcoal/0">
  <div class="w-24 h-24 flex items-center opacity-50 hover:opacity-100 transition-all duration-500 ease-in-out"
    [ngClass]="current == 0 ? 'border-b-3 border-b-blurple' : ''">
    <img src="images/logos/harry-potter.png" class="w-full cursor-pointer" (click)="changeIndex(0)"/>
  </div>
  <div class="w-24 h-24 flex items-center opacity-50 hover:opacity-100 transition-all duration-500 ease-in-out"
    [ngClass]="current == 1 ? 'border-b-3 border-b-blurple' : ''">
    <img src="images/logos/breaking-bad.svg" class="w-full cursor-pointer"  (click)="changeIndex(1)"/>
  </div>
  <div class="w-24 h-24 flex items-center opacity-50 hover:opacity-100 transition-all duration-500 ease-in-out"
    [ngClass]="current == 2 ? 'border-b-3 border-b-blurple' : ''">
    <img src="images/logos/star-wars.svg" class="w-full cursor-pointer"  (click)="changeIndex(2)"/>
  </div>
  <div class="w-24 h-24 flex items-center opacity-50 hover:opacity-100 transition-all duration-500 ease-in-out"
    [ngClass]="current == 3 ? 'border-b-3 border-b-blurple' : ''">
    <img src="images/logos/the-grinch.svg" class="w-full cursor-pointer" (click)="changeIndex(3)" />
  </div>
  <div class="w-24 h-24 flex items-center opacity-50 hover:opacity-100 transition-all duration-500 ease-in-out"
    [ngClass]="current == 4 ? 'border-b-3 border-b-blurple' : ''">
    <img src="images/logos/game-of-thrones.png" class="w-full cursor-pointer" (click)="changeIndex(4)" />
  </div>
</div>
